<launch>
	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find kr16_control)/config/kr16_controllers.yaml" command="load" />
	<!-- load the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/kr16_controllers" args="
    joint_a1_position_controller 
    joint_a2_position_controller
    joint_a3_position_controller 
    joint_a4_position_controller
    joint_a5_position_controller 
    joint_a6_position_controller 
    joint_state_controller" />
	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/kr16_controllers/joint_states" />
	</node>
</launch>
