<launch>
  <arg name="debug" default="false" />
	<!-- specify the planning pipeline -->
	<arg name="pipeline" default="ompl" />
	<!-- Gazebo specific options -->
	<arg name="gazebo_gui" default="true" />
	<arg name="paused" default="false" />
	<!-- launch the gazebo simulator and spawn the robot -->
	<include file="$(dirname)/gazebo.launch">
		<arg name="paused" value="$(arg paused)" />
		<arg name="gazebo_gui" value="$(arg gazebo_gui)" />
	</include>
	<include file="$(dirname)/demo.launch" pass_all_args="true">
		<!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
		<arg name="load_robot_description" value="false" />
		<arg name="moveit_controller_manager" value="ros_control" />
	</include>
	<!-- We do not have a robot connected, so publish fake joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
		<rosparam param="source_list">[/joint_states]</rosparam>
	</node>
	<include file="$(find kuka_kr16_moveit_config)/launch/moveit_rviz.launch">
		<arg name="rviz_config" value="$(find kuka_kr16_moveit_config)/launch/moveit.rviz" />
		<arg name="debug" value="$(arg debug)" />
	</include>
</launch>
