<?xml version="1.0"?>
<robot name="kuka_kr16_2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- load kr16_robot macro -->
	<xacro:include filename="$(find kuka_kr16_support)/urdf/kr16.urdf.xacro" />
	<!-- // load gazebo macro -->
	<xacro:include filename="$(find kuka_kr16_support)/urdf/common.gazebo.xacro" />
	<xacro:kuka_kr16_2 prefix="" />
</robot>


